<h2>Listing Budgets</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Budgeted</th>
      <th>Spent</th>
      <th>Remaining</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for budget <- @budgets do %>
    <tr>
      <td><%= budget.name %></td>
      <td><%= apply(NumberConversion, @format, [budget.budgeted]) %></td>
      <td><%= apply(NumberConversion, @format, [budget.spent]) %></td>
      <td><%= apply(NumberConversion, @format, [budget.budgeted - budget.spent])%>

      <td class="text-right">
        <span><%= link "Show", to: budget_path(@conn, :show, budget), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: budget_path(@conn, :edit, budget), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: budget_path(@conn, :delete, budget), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Budget", to: budget_path(@conn, :new) %></span>

<%= SimpleBudgetWeb.LayoutView.render "formatting.html", assigns %>