<h2>Show Budget</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @budget.name %>
  </li>

  <li>
    <strong>Budgeted:</strong>
    <%= apply(NumberConversion, @format, [@budget.budgeted]) %>
  </li>

  <li>
    <strong>Spent:</strong>
    <%= apply(NumberConversion, @format, [@budget.spent]) %>
  </li>

</ul>

<span><%= link "Edit", to: budget_path(@conn, :edit, @budget) %></span>
<span><%= link "Back", to: budget_path(@conn, :index) %></span>

<%= SimpleBudgetWeb.LayoutView.render "formatting.html", assigns %>