<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "SimpleBudget" %></h2>
  <p class="lead">A simple budgeting tool for you to track your expenses</p>
  <br />
  <h3>
  <%= if @current_status.total_budgeted > 0 do %>
    <%= if @current_status.total_budgeted > @current_status.total_spent do %>
      You are on track with you spending. You have spent 
      <%= apply(NumberConversion, @format, [@current_status.total_spent]) %> 
      out of 
      <%= apply(NumberConversion, @format, [@current_status.total_budgeted]) %>
    <% else %>
      You are over budget. You have spent 
      <%= apply(NumberConversion, @format, [@current_status.total_spent]) %> 
      out of 
      <%= apply(NumberConversion, @format, [@current_status.total_budgeted]) %>
    <% end %>
  <% end %>
  </h3>
</div>
<%= SimpleBudgetWeb.LayoutView.render "formatting.html", assigns %>