<div class="container">
    <div class="row">
        <h3>Currency Formats</h3>
        <ul class="nav nav-pills">
            <li class="active">
                <%= link("Default (USD)", to: "#{@conn.request_path}?format=dollar") %>
            </li>
            <li class="active">
                <%= link("Roman Numerals", to: "#{@conn.request_path}?format=roman") %>
            </li>
            <li class="active">
                <%= link("Binary", to: "#{@conn.request_path}?format=binary") %>
            </li>
        </ul>
    </div>
</div>