<div class="container">
  <%= form_for @changeset, @action, fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <div class="form-group">
      <%= label f, :amount, class: "control-label" %>
      <%= number_input f, :amount, step: "any", class: "form-control" %>
      <%= error_tag f, :amount %>
    </div>

    <div class="form-group">
      <%= label f, :type, class: "control-label" %>
      <%= select f, :type, ~w(Expense Income)a, class: "form-control" %>
      <%= error_tag f, :type %>
    </div>

    <div class="form-group">
      <%= label f, :note, class: "control-label" %>
      <%= text_input f, :note, class: "form-control" %>
      <%= error_tag f, :note %>
    </div>

    <div class="form-group">
      <%= label f, :category, class: "control-label" %>
      <%= select f, :category, Enum.map(@categories, fn category -> category.name end), class: "form-control" %>
      <%= error_tag f, :category %>
    </div>

    <div class="form-group">
      <%= label f, :budget, class: "control-label" %>
      <%= select f, :budget, Enum.map(@budgets, fn budget -> budget.name end), class: "form-control" %>
      <%= error_tag f, :budget %>
    </div>

    <div class="form-group">
      <%= submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <h3>Upload as CSV</h3>
    <span class="text-danger">Note: Budgets and Categories must exist or that row will be rejected.</span>
  </div>
  <br />
  <p><h4>Format Example:</h4></p>
  <p>
    <table class="table">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Type</th>
          <th>Note</th>
          <th>Category</th>
          <th>Budget</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>57.20</td>
          <td>Expense</td>
          <td>Harmons</td>
          <td>Groceries</td>
          <td>Food</td>
        </tr>
        <tr>
          <td>80.76</td>
          <td>Expense</td>
          <td>ProjectFI</td>
          <td>Phone Bill</td>
          <td>Bills</td>
        </tr>
        <tr>
          <td>2,400.37</td>
          <td>Income</td>
          <td>Employer</td>
          <td>Paycheck</td>
          <td>Income</td>
        </tr>
      </tbody>
      </thead>
    </table>
  </p>
  <%= form_for @changeset, @action, [multipart: true], fn f -> %>
    <div class="form-group">
      <label>CSV File</label>
      <%= file_input f, :csv, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>