<h2>Listing Transactions</h2>

<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Type</th>
      <th>Note</th>
      <th>Category</th>
      <th>Budget</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for transaction <- @transactions do %>
    <tr>
      <td><%= apply(NumberConversion, @format, [transaction.amount]) %></td>
      <td><%= transaction.type %></td>
      <td><%= transaction.note %></td>
      <td><%= SimpleBudget.Budgets.get_category!(transaction.category_id).name %></td>
      <td><%= SimpleBudget.Budgets.get_budget!(transaction.budget_id).name %></td>

      <td class="text-right">
        <span><%= link "Show", to: transaction_path(@conn, :show, transaction), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: transaction_path(@conn, :edit, transaction), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: transaction_path(@conn, :delete, transaction), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Transaction", to: transaction_path(@conn, :new) %></span>
<%= SimpleBudgetWeb.LayoutView.render "formatting.html", assigns %>