<h2>Show Transaction</h2>

<ul>

  <li>
    <strong>Amount:</strong>
    <%= apply(NumberConversion, @format, [@transaction.amount]) %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @transaction.type %>
  </li>

  <li>
    <strong>Note:</strong>
    <%= @transaction.note %>
  </li>

  <li>
    <strong>Category:</strong>
    <%= SimpleBudget.Budgets.get_category!(@transaction.category_id).name %>
  </li>

  <li>
    <strong>Budget:</strong>
    <%= SimpleBudget.Budgets.get_budget!(@transaction.budget_id).name %>
  </li>

</ul>

<span><%= link "Edit", to: transaction_path(@conn, :edit, @transaction) %></span>
<span><%= link "Back", to: transaction_path(@conn, :index) %></span>

<%= SimpleBudgetWeb.LayoutView.render "formatting.html", assigns %>